.breadcrumb-item a{
    color: #fff !important;
    text-decoration: none;
    color: #cccaca !important;
   
}
.active{
     color: #fff !important;
}
.breadcrumb-item{
    font-size: 20px;
    font-family: "Changa-Regular";
}

.breadcrumb-item+.breadcrumb-item::before{
    color: #cccaca !important;
}
.title{
    color: #fff;
    font-family: "Changa-Regular";
}
.input-login_container{
    max-width: 500px !important;
    margin: auto;
}
.modal.show .modal-dialog {
    transform: translateY(50px) !important;
}


.modal-header {
    flex-direction: column-reverse;
}