.nav {
    border-bottom: 0.5px solid #d6d6d6;
    box-shadow: 2px 0 12px 0 rgb(0 0 0 / 15%);
    height: 100px;
    direction: rtl;
}

.logo {
    max-width: 150px;
    height: auto
}

.navLink__header {
    display: flex;
    height: 50px;
}
.nav__dir{
    direction: rtl;
}
header {
    background-color:#6786a1 ;
    color: white;
    height: 40px;
}

.header {
    display: flex;
}

.social {
    font-size: 15px;
}
.header__link{
    font-family: "Changa-Regular" !important;
    text-decoration: none;
    color: #fff;
}
.header__link:hover{
    color: #fff !important;
}
.navLink__title{
    font-family: "Changa-Regular" !important;
}

@media (max-width:767px) {
    .header__link:nth-child(-n +4) {
            display: none;
        }
    .offcanvas-body {
            font-size: 20px                  
        }
    .navbar-nav {
            direction: rtl;
            margin-right: 10% !important;
        }
}
@media (min-width: 576px) and (max-width:992px) {
    .navbar-expand-sm .navbar-toggler {
        display: none !important;
    }

    .navbar-expand-sm .offcanvas {
        display: none !important;
    }
    .header__link:nth-child(-n +4) {
            display: none;
        }
        .offcanvas-body {
            font-size: 20px;
        }
        .navbar-nav {
            direction: rtl;
            margin-right: 10% !important;
        }      
}

@media (min-width: 993px){
.navbar-nav .nav-link:nth-child(n +8) {
        display: none;

    }
}
.offcanvas-title{
    font-size: 30px !important;
}

.offcanvas-body .navbar-nav .nav-link:hover {
    color: #6786a1;
    background-color: #E7E7E7 !important;
}
.navbar-nav{
    direction: rtl;
    margin-right: 35%;
}