.navbar-nav {
    --bs-nav-link-padding-y: 0 !important;
  }
.main-nav__link{
    font-family: "Changa-SemiBold" !important;
    position: relative !important;
    text-decoration: none !important;
    padding: 15px 15px !important;
    color :rgba(0, 0, 0, 0.55) !important;

}
.main-nav__link a{
    text-decoration: none !important;
    font-size:18px !important
}
.main-nav__link::after{
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 5px;
    top: 72px;
    right: 0;
    background-color: #6786a1 !important;
    opacity: 0;
}
.main-nav__link:hover{
    color: #6786a1 !important;

}
.navLink__header{
    direction: rtl !important;
}
.main-nav__link.active{
    color:#6786a1 !important;
}
.main-nav__link.active::after{
    opacity: 1 !important;
}
.main-nav__link:hover::after{
    opacity: 1 !important;
}
.main-nav__link a:hover{
    color:#6786a1 !important;
}
/* .main-nav__link a:focus{
    color :rgba(0, 0, 0, 0.55) !important;
}  */
.dropdown-menu {
   
     --bs-dropdown-border-width: 0px !important;
}
.nav-dropdown{
    margin-left: 20px;
}
 .Nav-button{
    position: relative;
    width: 32px;
    height: 40px;
    z-index: 2000;
    background-color: transparent;
    border: none;
    display: none;
}

.Nav-button .icon-bar{
    transition: all 0.4s;
    background-color: #6786a1;
    display: block;
    position: absolute;
    width: 22px;
    height: 2px;
    left: 0;
    top: 20px;
    transition: all 1s ease;

}
 .Nav-button .icon-bar::before{
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 2px;
    background-color: #6786a1;
    transition: all .5s ease;

}
.Nav-button .icon-bar::after{
    content: "";
    position: absolute;
    top: 10px;
    right:  0;
    width: 30px;
    height: 2px;
    background-color: #6786a1;
    transition: all .5s ease;

}
 .Nav-button .icon-bar::before{
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #6786a1;
  transition: all .5s ease;

}
 .Nav-button .icon-bar::after{
  content: "";
  position: absolute;
  top: 10px;
  left:  0;
  width: 30px;
  height: 2px;
  background-color: #6786a1;
  transition: all .5s ease;

}
.nav-animation .icon-bar{
    background-color: transparent;
    transition: all .5 ease;
}
.nav-animation .icon-bar::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 90%;;
	-ms-transform-origin: 10% 90%;;
    transform-origin: -4% 90%;
    width: 30px !important;
    transition: all .5s ease;
}
.nav-animation .icon-bar::after{
    -webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 11% 90%;
    width: 30px !important;
    transition: all .5s ease;
}

@media (max-width:992px) {
    .offcanvas-body{
        display: none !important;
    }
}
@media screen and (max-width: 992px){
    .dropdown{
        display: block;
    }
   .Nav-button{
    display: block;
   }
   .nav-dropdown__list{
    height: fit-content;
    transition:height 0.3s ease-in-out;
    transition-delay: 0.1s;
   }
   .nav-dropdown__list li{
 
    display: inline !important;
}
}
@media screen and (min-width: 1259px){

.nav-list li {
    padding-left: 7px;
    padding-right: 7px;
}
.nav-list li a.active::after{
    left: 10px;
    height: 50px;
    width: 1px;

}
}
@media screen and (min-width: 992px){
    .nav-list li {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .nav-list li a.active::after{
        left: 2px;
        height: 50px;
        width: 1px;
    
    }
}
@media screen and (max-width: 992px){
  
    .nav-list {
        display: none ;
    }
   
}

/* ---------------------------- */
.navbar-toggle{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    z-index: 2000;
    overflow: hidden;
    width: 0;
    height: 0;
    border-radius: 50%;
    border-top-left-radius: 0;
    transition: all .3s;
  
  }
  .nav-side{
    overflow-y: auto;
    width: 70%;
    height: 100%;
    background: #fff;
  
  }
  .other-side{
    width: 30%;
    background: rgba(0, 0, 0, 0.753);
    height: 100%;
  }
  .show-nav{
    width: 100%; 
    height: 100%;
    border-radius: 0;
  }
  .active{
    color: #6786a1 !important;
  }
  .side__close{
    direction: ltr;
    
  }
  
  .side__close-button{
    width: 45px;
    height: 45px;
    margin-left: auto;
  }
  .side__close-button {
    width: 45px;
    height: 45px;
    margin-right: auto;
  }
 
  .side__close__svg{
    width: 100%;
    height: 100% ;
    fill: #6786a1;
    
  }
  svg.side__close__svg{
    fill: #6786a1;
  }
  .active-link{
    color: #6786a1 !important;
  }
  .nav-side__list{
    list-style: none;
    padding: 0;

  }
  .nav-side__list li{
    
    border-bottom: 1px solid #ededed33;
    
  }
  .nav-side__list li a{
    color: #000;
    line-height: 30px;
    display: inline-block;
    width: 100%;
    padding: 10px  30px;
    color :rgba(0, 0, 0, 0.55) !important;
    font-family: "Changa-SemiBold" !important;
    text-align: center !important;

    
  }
  .nav-side__list li a:focus,.active-link{
    text-decoration: none;
    background: #6786a1 !important;
    color: #fff !important;
  }
  .nav-side_dropdown {
    padding: 0;
    list-style: none;
    
  }
  .nav-side_dropdown li a{
    padding-top: 10px ;
    padding-bottom: 10px;
  }
  .nav-side_dropdown li a {
    padding-right: 45px;
    font-family: "Changa-Regular";
  }
  .nav-side_dropdown li a:focus{
    background-color: #6786a1;
    color: #fff !important;
  
  }
  .nav-side__icon-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
  }
  .nav-side__button {
    padding: 10px 20px;
    width: 200px;
    height: 40px;
    text-align: center;
  }
  
 
  .gray-side{
    max-width: 400px
  }
.aside-nav{
    border: 1px solid #eee;
    background: #fafaff;
    padding: 30px;
    }
    .asdie-nav__input{
      font-size: 14px;
      line-height: 35px;
      border: 0;
      width: 100%;
      font-weight: 300;
      padding-left: 20px;
      border-radius: 45px;
      z-index: 0;
      background: #6786a1;
    }
    .asdie-nav__input:focus{
      background: #6786a1;
    }
    .asdie-nav__input::placeholder{
    color: #fff !important;
    }
    .img-empty{
      width: 100%;
    }
    .search-aside{
      position: relative;
    }
    .search-aside a{
      color: #fff;
    }
    .search-aside a:hover{
      text-decoration: none;
    }
    .search-aside .seach-icon{
      position: absolute;
      top: 8px;
      right: 20px;
      color: #fff;
    }
  
      
      @media screen and (max-width: 1200px)  {
       
     
        a.nav-link{
          color: #000 !important;
        }
        .nav__list-shop {
          margin-left:  0px !important;
        }
      
      }
      @media screen and (max-width: 1200px) and (min-width: 992px) {
       
        a.nav-link{
          color: #000 !important;
        }
        
    
      }
      
      @media screen and (max-width: 768px) {
      
        .side-col { 
            padding: 0;
        }
   
        }
        @media screen and (max-width: 575px){
       
        .m-left-40{
            margin-left: 40px;
        }
        .gray-side {
          max-width: 400px;
          margin-left: 20px;
      }
      } 
      .nav__list-shop {
        margin-left: 100px;
      }
      .nav__shop-button{
        padding-right: 2px !important;
        margin-top: 5px;
        border: 0 !important;
        
      }
      a.nav__shop-button:focus{
        border: 0 !important;
      }
      .nav__shop-button img{
        width: 23px;
        height: 23px;
      }
      .nav__note-span{
        position: absolute;
        background-color: #384aeb ;
        color:#eee;
        border-radius: 50%;
        display: inline-block;
        width: 18px;
        height: 16px;
        font-size: 10px;
        right: -2px;
        top: 0px;
      }
    .nav__dropdown-list{
        border-radius: 0px !important;
        width: auto;
        padding: 0rem 0;
        border: 0 !important;
        transition: all .5s ease ;
        transform: translate(0,30px) ;
        visibility: hidden;
        left: -38px;
        top: 61px;
        text-align: center;
        z-index: 2000;
      }
   
      .nav__dropdown-list li{
       border-bottom: 1px solid
      }
      .nav__dropdown-list a{
        padding: 10px 30px;
        border-bottom: 1px solid #eee;
        font-family: "Changa-Regular";
        text-align: center;
      
      }
      .nav__dropdown-list a:hover{
        background-color: #6786a1;
        color: #fff;
       
      }
      .dropdown:hover  .nav__dropdown-list{
      
        transition: all .5s ease;
        transform: translate(0,18px);
        visibility: visible;
      
      }
      .nav__item{
        font-family: "Changa-SemiBold" !important;
        position: relative !important;
        text-decoration: none !important;
        padding: 15px 15px !important;
        color :rgba(0, 0, 0, 0.55) !important;
    
      }
      .nav-link__nav-toggle.active{
        background-color: #6786a1 !important;
        color: #fff !important;
    
      }
      .nav__item::after{
        content: "";
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 5px;
         top: 72px;
        right: 0;
        background-color: #6786a1 !important;
        opacity: 0;
    }
    .nav__item:hover{
        color: #6786a1 !important;
    
    }
    
    .nav__item:hover::after{
        opacity: 1 !important;
    }

    a.nav-link{
      color: rgba(0, 0, 0, 0.55) !important;
    }
    p.nav-link__nav-toggle{
        color: rgba(0, 0, 0, 0.55) !important;
        padding: 5px 0px 5px 0px !important;
        margin: 0 !important;
        font-family: "Changa-SemiBold" !important;
        text-align: center !important;
        padding: 10px 30px !important;
        line-height: 30px !important;
    } 
    .dropdown-item__nav-toggle.active{
        background-color: #6786a1 !important;
        color: #fff !important;
    }
.event{
  margin-right: 5px;
  font-size: 20px;
}
.main-nav__link:hover .event{
  animation: sh0 0.5s linear infinite both;
  -webkit-animation: sh0 0.5s linear infinite both;
}
@keyframes sh0 {
  0% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
  
    20% {
      -webkit-transform: translate(-2px, 2px);
      transform: translate(-2px, 2px);
    }
  
    40% {
      -webkit-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
    }
  
    60% {
      -webkit-transform: translate(2px, 2px);
      transform: translate(2px, 2px);
    }
  
    80% {
      -webkit-transform: translate(2px, -2px);
      transform: translate(2px, -2px);
    }
  
    100% {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
}