.logForm {
    display: flex;
    text-align: center;
    padding-bottom: 50px;


}

.path {

    background-image: url(./../../assets/Images/loginWallpaper.png);
    height: auto;
    padding: 50px 0px;
    background-size: cover;
    background-position: center center;

}

.userName {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin: 0 20px;
}

.signup {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid #eee;
    box-shadow: 0 0 4px 0 #c4c4c4da;
    padding-bottom: 50px;
    border-radius: 10px;
    background-color: #eeeeeee0 !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.msErr {
    color: rgba(209, 3, 3, 0.938) !important;
    color: #fff;
    font-size: 20px !important;
    font-family: "Changa-Regular";
    font-weight: bold;
    text-align: right;
}

.signup__para {
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
    color: #292929;
    font-family: "Changa-Regular";
}
.input {
    border: none;
    outline: none;
    border-radius: 6px !important;
    padding: 1em;
    background-color: #f5f0f0cb !important;
    box-shadow: inset 2px 5px 10px rgba(182, 182, 182, 0.61) !important;
    transition: 300ms ease-in-out;
    font-size: 14px;
    color: #202020 !important;
    margin-top: 20px;
    border: 1px solid #999999 !important;
    height: 50px;
    font-family: "Changa-Regular" !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.input::placeholder {
    text-align: right !important;
}

.input:focus {
    background-color: #f5f0f0cb;
    transform: scale(1.01);
    box-shadow: 0 0 0 4px rgba(160, 160, 160, 0.61);
}

.input:hover {
    border: 2px solid #a0a0a0 !important;
    box-shadow: 0 0 0 4px rgba(158, 158, 158, 0.61);
}

.label {
    display: block;
    text-align: right !important;
    font-size: 16px;
    margin-bottom: 0px !important;
    font-family: "Changa-Regular" !important;
    margin-top: 10px;
}

.signup__btn {
    --color: #6786A1;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    position: relative;
    overflow: hidden;
    border: 2px solid #acacac !important;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #6786A1 !important;
    font-family: "Changa-Regular" !important;
    margin-top: 10px !important;
}

.signup__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.signup__btn:hover {
    color: #fff;
    background-color: #6786A1 !important;
    border: 2px solid #acacac !important;
}

.signup__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.signup__btn:hover:before {
    top: -30px;
    left: -40px;
}

.signup__btn:active:before {
    background: #fff;
    transition: background 0s;
}

.signup__btn {
    width: 100%;
}

.PhoneInputInput input {
    border: none !important;
    outline: none !important;
    background-color: #f5f0f0cb !important;
    border-radius: 0px !important;
    direction: ltr !important;


}


.cards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.cardIcon{
    color: #6786A1;
    font-size: 40px;
    
}
.card{
    margin: 30px;
        border: 1px solid #eee;
            box-shadow: 0 0 4px 0 #c4c4c4da;
            padding: 50px 150px;
            border-radius: 10px;
            background-color: #eeeeeee0 !important;
            text-align: center;
}
.cardPara{
    font-family: "Changa-Regular";
    font-size: 20px;
    margin-top: 10px;
}
@media (max-width:767px) {
    .signup {
        width: 95%;
        margin-top: 50px;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: auto;
        margin-top: 20px;
        margin-top: -1px;
    }
        .cards{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
        }
                .card {
                    padding: 50px;
                }
}

@media (min-width:768px) and (max-width:1200px) {
    .signup {
        width: 95%;
    }
    .userName {
        display: block;
    }

    .logForm {
        height: auto;
        margin-top: 20px;
        margin-top: -1px;
    }
          .cards {
              display: flex;
              flex-direction: column;
          }
}

@media (min-width:1201px) and (max-width:1450px) {
    .signup {
        width: 75%;
    }

    .signup__btn {
        margin: 0 50%;
    }
}

@media (min-width:1451px) {
    .signup__btn {
        margin: 0 50%;
    }
}