

 .social-icon {
    font-size: 20px;
    direction: ltr;
}

.social-icon .fa {
	width: 40px;
    height: 28px;
	color: #FFF;
	padding-top: 12px;
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}

.social-icon svg:hover {
	transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
}
.social-icon .facebook:hover {
  color: #3b5998;
}
.social-icon .twitter:hover {
  color: #1da1f2;
}
.social-icon .google:hover {
  color: #dd4b39;
}
.social-icon .whatsapp:hover {
    color: #25D366;
  }

.social-icon .instagram:hover {
  color: #f77737;
}
.social-icon .youtube:hover {
  color: #ff0000;
}
 .footer-dir{
    direction: rtl;
}

 .footer__h6{
   text-align: right !important;
}
a{
    text-decoration: none !important;
}
 .footer__contact-us_p{
    direction: rtl !important ;
    text-align: left;
 }
 .footer__contact-us_p{
    direction: ltr !important ;
    text-align: right;
 }
 .footer__link{
  display: flex;
 }

.footer_we-are_p{
    text-align: right;
  }
 
@media (max-width:767px) {
 .footer-body{
    text-align: right;
 }
    
}
@media (min-width: 768px){

.text-md-start {
    text-align: right !important;
}
}
.me-3{
    margin-left: 10px;
}
.footer-body,
.text-muted{
background-color: #444A54 !important;
color: #D0D0D0;
}
