.path {

    background-image: url(./../../assets/Images/loginWallpaper.png);
    height: auto;
    padding: 50px 0px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
}
.cardAdvisors {
    
  
    font-family: "Changa-Regular";
}
.category__form-select{
    
    font-family: "Changa-Regular";
    max-width: 200px;
    text-align: center;
    margin: auto !important;
    border: 1px solid  rgb(103, 134, 161) !important;
    
}

.helpYou{
    background-color: #6C757D;
    height: auto;
    padding: 50px;
    color: #fff;
    font-family: "Changa-Regular";
    text-align: center;
    margin-top: 100px;
}
.helpYou__icon{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.send{
    color: #3f3e3e;
    background-color:#fff;
    font-size: 70px;
    padding: 15px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-bottom:20px;
}
@media (max-width:767px) {
    .helpYou__icon{
        display: flex;
        flex-direction: column;
    }
}