.logForm {
    display: flex;
    text-align: center;
    padding-bottom: 40px;
    direction: rtl !important;

}

.path {

    background-image: url(./../../assets/Images/loginWallpaper.png);
    height: auto;
    padding: 50px 0px;
    background-size: cover;
    background-position: center center;

}

.userName {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    margin: 0 20px;
}

.signup {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid #eee;
    box-shadow: 0 0 4px 0 #c4c4c4da;
    padding-bottom: 40px;
    border-radius: 15px;
    background-color: #eeeeeee0 !important;
}

.signup__title {
    margin: 10px 0;
    color: #4d4d4d;
    font-size: 15px !important;
    font-family: "Changa-SemiBold";
}

.msErr {
    color: rgba(209, 3, 3, 0.938) !important;
    font-size: 12px !important;
    font-family: "Changa-Regular";
    font-weight: bold;

}

.signup__para {
    font-size: 17px;
    margin: 20px 0;
    color: #292929;
    font-family: "Changa-Regular";
}

.signup__para a {
    color: #333333;
    font-weight: bold;
    font-family: "Changa-Regular";
}

.signup__para a:hover {
    color: #333333 !important;
}

.input {
    border: none;
    outline: none;
    border-radius: 6px !important;
    padding: 1em;
    background-color: #f5f0f0cb !important;
    box-shadow: inset 2px 5px 10px rgba(182, 182, 182, 0.61) !important;
    transition: 300ms ease-in-out;
    font-size: 14px;
    color: #202020 !important;
    margin-top: 20px;
    border: 1px solid #999999 !important;
    height: 50px;
    font-family: "Changa-Regular" !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.input::placeholder {
    text-align: right !important;
    font-size: 14px;
}

.input:focus {
    background-color: #f5f0f0cb;
    transform: scale(1.01);
    box-shadow: 0 0 0 4px rgba(160, 160, 160, 0.61);
}

.input:hover {
    border: 2px solid #a0a0a0 !important;
    box-shadow: 0 0 0 4px rgba(158, 158, 158, 0.61);
}

.label {
    text-align: right !important;
    display: block;
    font-size: 18px;
    margin-bottom: 0px !important;
    font-family: "Changa-Regular" !important;
}

.signup__btn {
    --color: #6786A1;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    position: relative;
    overflow: hidden;
    border: 2px solid #acacac !important;
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    background-color: #6786A1 !important;
    font-family: "Changa-Regular" !important;
    margin-top: 10px !important;
}

.signup__btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.signup__btn:hover {
    color: #fff;
    background-color: #6786A1 !important;
    border: 2px solid #acacac !important;
}

.signup__btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.signup__btn:hover:before {
    top: -30px;
    left: -50px;
}

.signup__btn:active:before {
    background: #fff;
    transition: background 0s;
}

.signup__btn {
    width: 100%;
}

.PhoneInputInput input {
    border: none !important;
    outline: none !important;
    background-color: #f5f0f0cb !important;
    border-radius: 0px !important;
    direction: ltr !important;


}
.description-margin{
    margin: 0px 20px !important;
}

@media (max-width:767px) {
    .signup {
        width: 95%;
        margin-top: 50px;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: auto;
        margin-top: 20px;
        margin-top: -1px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .signup {
        width: 95%;
    }

    .userName {
        display: block;
    }

    .logForm {
        height: auto;
        margin-top: 20px;
        margin-top: -1px;
    }
}
@media (min-width:1200px){
    .description-margin{
        margin-top: 5rem !important;
    }
    
}

